.category-sidebar {
    width: 200px;
    background: #ffffff;
    padding: 20px 0 20px 0; /* Removed left padding */
    position: fixed;
    top: 180px;
    left: 3; /* Aligned to the left edge */
    height: calc(100vh - 180px);
    overflow-y: auto;
    z-index: 101;
    border-right: 1px solid #eaeaea;
}

.sidebar-item {
    font-size: 14px;
    color: #4169E1;
    text-decoration: none;
    padding: 6px 20px; /* Added left padding to the items instead */
    line-height: 1.4;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
}

.sidebar-item:hover {
    text-decoration: underline;
}

.sidebar-item.active {
    color: #4169E1;
    font-weight: normal;
    background: none;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
}